:root {
  --red: #ce5440;
  --yellow: #e4c258;
  --green: #55c04c;
  --white: #e3e3e2ff;
  --black: #1c1c1cff;
  --grey: rgb(162, 150, 150);
}

.App h1 {
  text-align: center;
  width: 100vw;
  max-height: 100vh;
  margin: 0px;
  max-height: 100vh;
  font-size: 7vw;
}

.App h2 {
  font-size: 3vw;
  margin: 0px;
}

.niceButton {
  min-width: 10vw;
  min-height: 6vw;
  text-align: center;
  border: none;
  border-radius: 1vw;
  color: var(--black);
  font-weight: 700;
  margin-right: 1vw;
}

.niceButton:hover {
  translate: 0px -5px;
  filter: brightness(110%);
}



body {
  background-color: var(--white);
}

.wide {
  width: 15.5vw;
}

.pomodoro-timer {
  background-color: var(--red);
  margin-left: 2vw;
  max-width: 38vw;
  border: 0px;
  outline: 0px;
  text-align: center;
  padding: 1vw;
  border-radius: 1vw;
}

.time-display {
  font-size: 4vw;
  font-weight: 600;
  color: white;
}

#toDoList {
  display: inline-block;
  max-width: 55vw;
  min-width: 55vw;
  border-radius: 1vw;
  text-align: center;
  margin-left: auto;
  height: 20vw;
  background-color: var(--grey);
  margin-right: 2vw;
  min-height: 38vh;
}

#thing {
  display: flex;
}